.navbar {
    width: 100%;
    height: 60px;
    background-color: #363636;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    border-radius: 0 !important;
    z-index: 9999;
    border: unset;
}
.navbar .navbar-nav {height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 5px solid transparent;
}
.jumbotron-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -1.55px;
    top: 0.11px;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);
    background-image: url(Group\ 1.1.png);
    background-size: cover;
}
.jumbotron-1 .display-4 {
    position: absolute;
height: 73.12px;
left: 9.22%;
right: 10.47%;
top: calc(50% - 73.12px/2 - 130.06px);

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 83px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}
p {
    position: absolute;
height: 3.12px;
left: 9.22%;
right: 10.47%;
top: 460px;

font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 83px;
text-align: center;
letter-spacing: 3px;
text-transform: uppercase;    
}
.jumbotron-1 .btn {
    position: absolute;
    left: 40.83%;
    right: 41.09%;
    top: 55.07%;
    bottom: 38.68%;
    
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 1px;
}
.jumbotron-2 {
    position: absolute;
width: 100%;
height: 100vh;
left: -1.55px;
top: 959.43px;

background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
background-image: url(bg\ image\ 2.jpg);
background-size: cover;
}
.jumbotron-2 .display-5 {
    position: absolute;
height: 73.64px;
left: 5.42%;
right: 66.01%;
top: calc(50% - 73.64px/2 - 133.59px);
color: white;
}
#rockpaper {
    position: absolute;
    width: 858px;
    height: 477px;
    left: 653px;
    top: 318.7px;
    
}
.jumbotron-3 {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0.38px;
    top: 1909.74px;
    
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
    background-image: url(bg\ image\ 33.png);
    background-size: cover;
}
.jumbotron-3 .display-6 {
    position: absolute;
height: 73.64px;
left: 55.25%;
right: 16.22%;
top: calc(50% - 73.64px/2 - 147.97px);

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;

}
.jumbotron-3 .feature-1 {
    position: absolute;
width: 348.2px;
height: 38.23px;
left: 1059.29px;
top: 539.6px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 2px;

color: #FFB548;
}
.jumbotron-3 .text-feature-1 {
    position: absolute;
width: 348.2px;
height: 38.23px;
left: 1092.29px;
top: 589.6px;


font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: justify;

color: #FFFFFF;

}
.jumbotron-3 .feature-2 {
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 994.29px;
    top: 739.6px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    
    color: #FFB548;
}
.jumbotron-3 .feature-3 {
    position: absolute;
    width: 348.2px;
    height: 38.23px;
    left: 948.29px;
    top: 839.6px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    
    color: #FFB548;
}
.jumbotron-4 {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -1.55px;
    top: 2886px;
    
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
    background-image: url(bg\ image\ 4.png);
    background-size: cover;
}
.jumbotron-4 .row {
    position: absolute;
width: 773.2px;
height: 400.69px;
left: 120.22px;
top: 388.5px;

border: 1px solid #979797;
}
.jumbotron-4 .display-7 {
    position: absolute;
height: 73.64px;
left: 9.02%;
right: 47.07%;
top: calc(50% - 73.64px/2 - 307.05px);

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;

color: #FFFFFF;
}
.jumbotron-4 .col-1 {
    position: absolute;
left: 9.67%;
right: 72.47%;
top: 7.58%;
bottom: 49.74%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 122%;
/* or 122% */


color: #FFFFFF;
}
.jumbotron-4 .col-2 {
    position: absolute;
left: 28.83%;
right: 53.27%;
top: 45.57%;
bottom: 48.77%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */


color: #FFFFFF;
}
.jumbotron-4 .col-3 {
    position: absolute;
left: 9.07%;
right: 82.72%;
top: 58.76%;
bottom: 38.38%;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: justify;

color: #FFFFFF;

}